/* inter-regular - cyrillic_latin */
@font-face {
  font-display: swap;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inter-v13-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  /* для размеров элемента в чистоте, не учитвая бордеры и отступы */
  box-sizing: border-box;
}

/* добавил сам часть */
html, body {
  margin: 0;
  padding: 0;
}

/* добавил сам часть */
/* html, body, ul, li, a, p, img, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
} */

/* добавил сам часть */
/* img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

svg {
  max-height: 100%;
}


button {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

iframe {
  border: none;
} */

*,
/* всем элементам */
*::before,
/* всем эл-там и псевдоэлементам */
*::after {
  /* наследовать от родителя  */
  box-sizing: inherit;
}

body {
  font-family: Inter, sans-serif;
  background-color: #fff;
  font-size: 20px;
  line-height: 1.24;
  color: #1d1c1d;
}

ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  /* чтобы картинка не растягивалсь и не сужалась */
  height: auto;
}

.container {
  /* дает возможности при сжатии экрана сжимать и сам блок (+ добавляем паддинги) */
  max-width: 1400px;
  /* блок посередине */
  margin: 0 auto;
  /* отступы внутри */
  padding: 0 50px;
}

.header {
  padding: 0 24px;
  width: 100%;
  position: absolute;
  top: 24px;
  left: 50%;
  /* смещение на 50% */
  transform: translateX(-50%);
  color: #fff;
}

/* получается как один хедер внутри другого хедера */
.header__container {
  max-width: 1392px;
  backdrop-filter: blur(60px);
  background: rgba(108, 185, 171, 0.7);
  padding: 12px 46px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-link {
  font-size: 0;
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header__cart-link {
  width: 28px;
  height: 28px;
  color: #64099b;
  font-size: 12px;
  background-image: url('/image/bag.svg');
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px 4px 3px;
}

.promo {
  background-color: #6cb9ab;
  color: #fff;
}

.promo__container {
  padding-top: 210px;
  padding-bottom: 80px;
  background-image: url('/image/bg-image.png');
  background-position: right 113px bottom 0;
  background-repeat: no-repeat;
}

.promo__title {
  font-weight: 400;
  font-size: 88px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 60px;
  /* не по макету */
  max-width: 800px;
}

.promo__link {
  display: inline-block;
  border: 1px solid #fff;
  border-radius: 4px;
  padding: 16px 24px;
}

.products {
  padding: 100px 0;
}

.products__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.1;
  color: #64099b;
  margin-top: 0;
  margin-bottom: 32px;
}

.products__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* display: flex;
  flex-wrap: wrap;
  gap: 20px; */
}

.product {
  line-height: 1.24;
  background-color: #f2f9f7;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  color: #1d1c1d;
}

.product__image {
  width: 100%;
}

.product__content {
  /* занять всё пространство */
  flex-grow: 1;
  padding: 40px 24px 24px;
  display: flex;
  flex-direction: column;

}

.product__title {
  flex-grow: 1;
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 4px;
  margin-top: 0;
  /* не будет растягивать карточку с товаром при переносе текста */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  /* задаем текст в 2 строки */
  -webkit-line-clamp: 2;
  /* чтобы текст не растягивал блок по высоте */
  -webkit-box-orient: vertical;
}

.product__price {
  margin: 0;
  font-size: 20px;
  line-height: 1.24;
}

.footer {
  padding: 60px 0;
  background-color: #6cb9ab;
  color: #fff;
}

.footer__container {
  display: grid;
  gap: 38px;
  /* ширина колонки зависит от контента */
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
}

.footer__logo-link {
  max-height: 67px;
}

.footer__nav {
  max-width: 504px;
}

.footer__menu {
  display: flex;
  gap: 50px;
}

.footer__info {
  font-size: 16px;
  line-height: 1.24;
}

.footer__copyright {
  margin-top: 0;
  margin-bottom: 17px;`
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__social {
  display: flex;
  gap: 12px;
}